---
title: Haris Ádám - Ruby on Rails Developer, Ember.js Developer, Entrepreneur
---

.container
  .row.header
    .col-lg-8.col-md-8
      .name.clearfix
        .avatar
        %h2.name Adam Haris
      %h4 Ruby on Rails & Ember.js Developer | Creative Technologist | Entrepreneur
    .col-lg-4.col-md-4.col-sm-12.col-xs-12.contacts
      %p 26 years old
      %p +36.30.428.21.95
      %p Budapest, Hungary
      %p info@harisadam.com
      %p www.harisadam.com

  .details
    .row.introduction
      .col-lg-3.col-md-3.col-sm-3.col-xs-12.section-title
        %h3 Summary
        %hr.visible-xs
      .col-lg-9.col-md-8.col-sm-9.col-xs-12
        %p
          I have been building web applications since 2008. I have several years of experience in the planning, developing and maintenance of business efficient web applications.

        %p
          I switched to Ruby and started using the Rails framework in 2010.
          %br
          I strongly believe in the Convention over Configuration design pattern.
          %br
          I always follow the web development trends, I am open to learning new things and solving different problems.

    .row.specialties
      .col-lg-3.col-md-3.col-sm-3.col-xs-12.section-title
        %h3 Specialties
        %hr.visible-xs
      .col-lg-9.col-md-8.col-sm-9.col-xs-12
        %p
          Ruby, Ruby on Rails, Elixir, TDD, HTML5, Javascript, Ember.js, Ember-Data, GIT, Cacheing, Sidekiq

        %p
          Other skills: BDD, Rspec, Minitest, Cucumber, Sinatra, HAML, Coffeescript, MongoDB, MySql, PostgreSql, ElasticSearch, Elixir, Phoenix, Node.js, Express/Koa, REST API, {json:api}, EmberCLI, jQuery, PHP, HTML5, MVC, Facebook API, OSX, Linux, nginx, Heroku, Git, Swift, Agile project management, Leadership, Early bird

    .row.experience
      .col-lg-3.col-md-3.col-sm-3.col-xs-12.section-title
        %h3 Experience
        %hr.visible-xs
      .col-lg-9.col-md-8.col-sm-9.col-xs-12

    .row.experience
      .col-lg-3.col-md-3.col-sm-3.col-xs-12.section-title
        = link_to (image_tag 'aac-logo.jpg'), 'http://aac.digital', target: 'blank'
      .col-lg-9.col-md-8.col-sm-9.col-xs-12
        %h4 Owner, CTO aac.digital Ltd. - Budapest, Hungary
        %h5 January 2014. -
        %p
          aac.digital is a web and mobile development company for your startup or advertising agency.
          %br
          We do
          %strong Ruby on rails, Ember.js
          and
          %strong Elixir
          consulting.

        %p
          We'll help you take your project from idea to reality.
          %br
          We truly believe in the "release early, release often" software development philosophy.
          Clients will receive access to the staging site and a tool allowing them to follow the progress - we use Trello.

        %p
          We love test-driven development, pair programming, short development cycles and continuous integration. Each key functionality produced by our developers covered with automated tests.

        %a{href: "http://aac.digital"} Visit our homepage, check out our projects and hire us!
        %hr.visible-xs

    .row.experience
      .col-lg-3.col-md-3.col-sm-3.col-xs-12.section-title
        = link_to (image_tag '/images/a.jpg', width: 100), 'http://harisadam.com', target: 'blank'
      .col-lg-9.col-md-8.col-sm-9.col-xs-12
        %h4 Freelancer Web Developer
        %h5 November 2011. - January 2014.
        %p
          In 2008, I started my freelance carrier beside my studies. I used PHP, in 2010 I switched to Ruby which has allowed me to build web applications more effectively and faster than PHP. I am always open for freelance projects. I have worked with several international startups, I help build and start their products or services like mobile api’s, webshops etc.

        %p I do Ruby on Rails and Ember.js consulting.
        %hr.visible-xs

    .row.experience
      .col-lg-3.col-md-3.col-sm-3.col-xs-12.section-title
        = link_to (image_tag 'yr-logo.png'), 'http://wwww.yr.hu', target: 'blank'
      .col-lg-9.col-md-8.col-sm-9.col-xs-12
        %h4 Head of Development - Young and Rubicam - Budapest, Hungary
        %h5 November 2011. - January 2014.
        %p
          As the Head of Development, I managed campaigns for our clients of a traditional advertising agency and of Ombrello Digital. I was responsible for services planning, application implementation and I led the development team.
        %hr.visible-xs

    .row.experience
      .col-lg-3.col-md-3.col-sm-3.col-xs-12.section-title
        = link_to (image_tag 'ombrello-logo.png'), 'http://www.hg.hu', target: 'blank'
      .col-lg-9.col-md-8.col-sm-9.col-xs-12
        %h4 Ruby on Rails Developer - Ombrello Media Ltd. - Budapest, Hungary
        %h5 March 2011. - November 2011.
        %p
          The first Ruby team in Hungary, who have been using Rails since version 0.8.
        %p
          I developed and maintained high traffic sites.
        %hr.visible-xs

    .row.experience
      .col-lg-3.col-md-3.col-sm-3.col-xs-12.section-title
        = link_to (image_tag 'qs-logo.png'), 'http://www.hg.hu', target: 'blank'
      .col-lg-9.col-md-8.col-sm-9.col-xs-12
        %h4 Web Developer - Queen-Site Ltd. - Pécs, Hungary
        %h5 September 2010. - February 2011.
        %p
          At Queen Site Ltd., I built several small web applications, webshops.
          %br
          Mainly with PHP, MySQL and jquery
        %hr.visible-xs

    .row.education
      .col-lg-3.col-md-3.col-sm-3.col-xs-12.section-title
        %h3 Education
        %hr.visible-xs
      .col-lg-9.col-md-8.col-sm-9.col-xs-12
        %p
          Pollack Mihály Faculty of Engineering and Information Technology
          %br
          University of Pécs - IT Engineer, System Engineer
        %p
          Eötvös Loránd Technical School - IT, Kaposvár

    .row.conferencies
      .col-lg-3.col-md-3.col-sm-3.col-xs-12.section-title
        %h3 Conferences
        %hr.visible-xs
      .col-lg-9.col-md-8.col-sm-9.col-xs-12
        %p As a speaker:
        %ul
          %li
            Building Ambitious Web Applications with Ember - Pécs Web meetup
            %a{href: "https://www.youtube.com/watch?v=PTFlkAKApk8"}Watch the video!
          %li Building Gifszinhaz.hu - Budapest Ember
          %li {json:api} v1.0 - A specification for building APIs in JSON - Budapest Ember

    .row.conferencies
      .col-lg-3.col-md-3.col-sm-3.col-xs-12.section-title
        %h3 Social Responsibility
        %hr.visible-xs
      .col-lg-9.col-md-8.col-sm-9.col-xs-12
        %p
          %strong Bátor Tábor Foundation
          %br
          Building and maintenance of a website for Bátor Tábor Foundation. Bátor tábor offers complex therapeutic recreation programs for children with cancer, diabetes, JRA or haemophilia and for their families.
        %p
          %strong Önkéntes Központ Alapítvány
          %br
          Social applications for the Hungarian Voluntary Foundation.


    .row.conferencies
      .col-lg-3.col-md-3.col-sm-3.col-xs-12.section-title
        %h3 Hobbies
        %hr.visible-xs
      .col-lg-9.col-md-8.col-sm-9.col-xs-12
        %p American Football, Travel, IT, Politics
